{% extends 'cine/base.html' %}

{% block content %}
    <h1 class="mb-4">Buscar Snacks (Inicia con...)</h1>

    <form method="GET" action="" class="mb-4 d-flex">
        <input type="text" name="texto" class="form-control me-2" placeholder="Ej: Ca (Canchita)..." value="{{ texto }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario (S/)</th>
            </tr>
        </thead>
        <tbody>
            {% for snack in snacks %}
            <tr>
                <td>{{ snack.producto }}</td>
                <td>{{ snack.cantidad }}</td>
                <td>{{ snack.precio_unitario }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No hay resultados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="btn btn-secondary mt-3">Volver al inicio</a>
{% endblock %}